name: Check
on:
  push:
    branches:
      - main
  pull_request:

env:
  EDGEE_API_TOKEN: ${{ secrets.EDGEE_API_TOKEN }}

jobs:
  full-ci:
    name: Full CI (${{ matrix.dir }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: [dir1, dir2]
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-wasip2
          components: rustfmt, clippy

      - name: Install Edgee CLI
        uses: edgee-cloud/install-edgee-cli@v0.2.0

      - name: Run edgee component wit
        run: edgee component wit

      - name: Cargo Check
        run: cargo check

      - name: Cargo Fmt Check
        uses: actions-rust-lang/rustfmt@v1

      - name: Clippy Lint
        uses: wearerequired/lint-action@master
        with:
          clippy: true

      - name: Cargo Build
        run: edgee component build

      - name: Verify .wasm file exists
        run: |
          if [ ! -f "./dc_component.wasm" ]; then
              echo "âŒ Error: dc_component.wasm not found" >&2
              exit 1
          fi

      - name: Run Tests
        run: make test

